.back {
  background: #0000;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.globe {
  background: #F55A5A;
  color: #fff;
  width: 650px;
  margin: 0 auto;
}
.footer {
  background: #fff;
  width: 650px;
  margin: 0 auto;
  padding-top: 40px;
}
.website {
  background: #F55A5A;
  color: #fff;

  height: 20px;
  line-height: 20px;
  padding: 15px;        
}
.website a {
  color: #fff;
}
.list {
  display: inline-flex;
  list-style-type: none;
  padding: 5px;
}
.list li {
  margin: 0 5px;
}
.travel {
  /* font-family: ''; */
  font-style: normal;
  font-weight: 500;
  font-size: 20.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
}

.card--body {
  width: 650px;
  /* height: 168px; */
  background: #fff;
  margin: 0 auto;

}

.big--card {
  background: #fff;
  padding-top: 20px;
  /* padding-bottom: 60px; */
}

.card {
  height: 168px;
  /* width: 400px; */
  /* border-radius: [object Object]px; */
  background: #fff;
  margin: 40px 40px 0px;
  display: inline-flex;


}

.card--text {
  color: #282c34;
  padding: 15px 15px;
  line-height: 15px;
  height: 135px;
}

.state {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;
  margin: 0px;
}
.maps {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  /* identical to box height */
  color: #918E9B;
  text-decoration-line: underline;
}
.location {
  color: #F55A5A;
}
.date {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
}
p {
  width: 100%;
}
.site {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2B283A;
}
.para {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
}

